<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<form method="post" th:action="@{/login}">
    <div style="color: red" th:if="${param.error}">
        <span th:text="#{login.error.invalid.credentials}">Bad credentials</span>
    </div>
    <label for="email"><span th:text="#{email}">Email:</span>
        <input id="email" name="username" type="text">
    </label><br>
    <label for="password"><span th:text="#{password}">Password:</span>
        <input id="password" name="password" type="password">
    </label><br>
    <button type="submit">
        <span th:text="#{login.login}">Login</span>
    </button>
</form>
<div>
    <div>Login with:</div>
    <a href="/oauth2/authorization/google">Google</a>
</div>
<button onclick="location.href='/registration'" type="button">
    <span th:text="#{register}">Registration</span>
</button>
</body>
</html>