<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{fragment :: locale}"></div>
<form enctype="multipart/form-data" method="post" th:action="@{/users}" th:object="${user}">
    <label for="email">
        <span th:text="#{email}">Email</span>:
        <input id="email" name="email" required th:value="*{email()}" type="text">
    </label><br>
    <label for="rawPassword">
        <span th:text="#{password}">Password</span>:
        <input id="rawPassword" name="rawPassword" required type="password">
    </label><br>
    <label for="birthDate">
        <span th:text="#{registration.birthdate}">BirthDate</span>:
        <input id="birthDate" min="1900-01-01" name="birthDate" required
               th:value="*{birthDate()}" type="date">
    </label><br>
    <label for="username">
        <span th:text="#{username}">UserName</span>:
        <input id="username" name="username" required th:value="*{userName()}" type="text">
    </label><br>
    <label for="image">
        <span th:text="#{registration.avatar}">Avatar</span>:
        <input id="image" name="image" type="file">
    </label><br>
    <input name="role" th:value="${userRole}" type="hidden">
    <div th:each="gender : ${genders}">
        <input name="gender" required
               th:checked="${gender == user.gender()}" th:id="${gender}" th:value="${gender}" type="radio">
        <label th:for="${gender}" th:text="${gender}">Gender:</label>
    </div>
    <button type="submit">
        <span th:text="#{register}">Register</span>
    </button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>