<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<!--<div th:insert="~{fragment :: header}"></div>-->
<form enctype="multipart/form-data" method="post" th:action="@{/users/{userId}/update(userId=${user.id()})}"
      th:object="${user}">
    <label for="email">
        <span th:text="#{email}">Email</span>:
        <input id="email" name="email" required th:value="*{email()}" type="text">
    </label><br>
    <label for="birthDate">
        <span th:text="#{registration.birthdate}">BirthDate</span>:
        <input id="birthDate" min="1900-01-01" name="birthDate" required
               th:value="*{birthDate()}" type="date">
    </label><br>
    <label for="username">
        <span th:text="#{username}">UserName</span>:
        <input id="username" name="username" required th:value="*{username()}" type="text">
    </label><br>
    <!--    <div th:if="${user.image()}">-->
    <!--        <img th:alt="image" th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id()})}">-->
    <!--    </div>-->
    <label for="image">
        <span th:text="#{registration.avatar}">Avatar</span>:
        <input id="image" name="image" type="file">
    </label><br>
    <div th:each="role : ${roles}">
        <input name="role" required
               th:checked="${role == user.role()}" th:id="${role}" th:value="${role}" type="radio">
        <label th:for="${role}" th:text="${role}">Role:</label>
    </div>
    <div th:each="gender : ${genders}">
        <input name="gender" required
               th:checked="${gender == user.gender()}" th:id="${gender}" th:value="${gender}" type="radio">
        <label th:for="${gender}" th:text="${gender}">Gender:</label>
    </div>
    <div th:if="${#authorization.expr('hasAuthority(''ADMIN'')')}">
        <button type="submit">
            <span th:text="#{update}">Update</span>
        </button>
    </div>
</form>
<form method="post" th:action="@{/users/{userId}/delete(userId=${user.id()})}"
      th:if="${#authorization.expr('hasAuthority(''ADMIN'')')}">
    <button type="submit">
        <span th:text="#{delete}">Delete</span>
    </button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
<div>
    <a th:href="@{/reviews/{userId}(userId=${user.id()})}"
       th:if="${showReviews == null}">
        <button th:text="#{user.show.reviews}" type="button">Show Reviews</button>
    </a>
    <div th:if="${showReviews}"
         th:insert="~{review/show-all-reviews :: show_reviews}">
    </div>
</div>
</body>
</html>