<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/users">
    <label for="email">
        <input id="email" name="email" th:placeholder="#{email}" th:value="${filter.email()}" type="text">
    </label>
    <label for="username">
        <input id="username" name="username" th:placeholder="#{username}" th:value="${filter.username()}" type="text">
    </label>
    <div>
        <label for="page">
            <span th:text="#{page}">Page</span>:
            <input id="page" name="page" th:value="${metaData.page()}" type="number">
        </label>
        <label for="size">
            <span th:text="#{size}">Size</span>:
            <input id="size" name="size" th:value="${metaData.size()}" type="number">
        </label>
        <label for="sortBy">
            <span th:text="#{sortBy}">Sort By</span>:
            <select id="sortBy" name="sortBy">
                <option th:each="sortBy : ${sorts}"
                        th:selected="${sortBy == filter.sortBy()}"
                        th:text="${sortBy.getName()}"
                        th:value="${sortBy}">SortBy
                </option>
            </select>
        </label>
    </div>
    <button type="submit">
        <span th:text="#{search}">Search</span>
    </button>
</form>
<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.id()}}" th:text="|${user.id()}. ${user.username()}(${user.email()})|">User</a>
</div>
</body>
</html>