<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<h1 th:text="${movie.title()}">Title</h1>
<div>
    <b th:text="#{movie.genre}">Genre</b>: <span th:text="#{${movie.genre().getCode()}}"/><br>
    <b th:text="#{movie.releaseYear}">Release Year</b>: <span th:text="${movie.releaseYear()}"/><br>
    <b th:text="#{movie.country}">Country</b>: <span th:text="${movie.country()}"/><br>
    <b th:text="#{movie.description}">Description</b>: <span th:text="${movie.description()}"/><br>
    <b th:text="#{movie.movieParticipants}">Movie Participants</b>:<br>
    <ol>
        <div th:each="movie_person : ${movie.moviePersons()}" varStatus="loop">
            <li value="${loop.index + 1}">
                <a th:href="@{'/persons/' + ${movie_person.person().id()}}"
                   th:text="|${movie_person.person().name()}(${movie_person.person().birthDate().getYear()}) -
                #{${movie_person.role().getCode()}}|">Person</a>
            </li>
        </div>
    </ol>
    <br>
    <div th:if="${#authorization.expr('hasAuthority(''ADMIN'')')}">
        <a th:href="@{/movie-person/add/{movieId}(movieId=${movie.id()})}"
           th:if="${showAddParticipant == null}">
            <button th:text="#{add.participant.button}" type="button">Add Participant</button>
        </a>
        <div th:if="${showAddParticipant}"
             th:insert="~{movieperson/add-movie-person :: add_movie_person}">
        </div>
        <a th:href="@{/movies/{movieId}/pre-update(movieId=${movie.id()})}">
            <button th:text="#{movie.update}" type="button">Update movie</button>
        </a>
        <form method="post" th:action="@{/movies/{movieId}/delete(movieId=${movie.id()})}">
            <button type="submit">
                <span th:text="#{delete}">Delete</span>
            </button>
        </form>
    </div>
</div>

<div>
    <a th:href="@{/reviews/add/{movieId}(movieId=${movie.id()})}"
       th:if="${showAddReview == null}">
        <button th:text="#{movie.add.review}" type="button">Add Review</button>
    </a>
    <div th:if="${showAddReview}"
         th:insert="~{review/add-review :: add_review}">
    </div>
</div>

<div th:if="${!reviews.isEmpty()}">
    <table style="width: 100%;margin-left:20px">
        <caption><b>
            <span th:text="#{movie.reviews}">Reviews</span>
        </b></caption>
        <colgroup>
            <col style="width: 20px;">
            <col style="width: 50px;">
            <col style="width: 200px;">
        </colgroup>
        <thead>
        <tr style="text-align: left">
            <th>
                <span th:text="#{review.rate}">Rate</span>
            </th>
            <th>
                <span th:text="#{review.user}">User</span>
            </th>
            <th>
                <span th:text="#{review.text}">Review</span>
            </th>
        </tr>
        </thead>

        <div th:each="review : ${reviews}">
            <tbody>
            <tr>
                <td th:text="${review.rate()}">Rate</td>
                <td>
                    <a th:href="@{/users/{userId}(userId=${review.user().id()})}"
                       th:text="${review.user().username()}">User</a>
                </td>
                <td th:text="${review.reviewText()}">Review text</td>
            </tr>
            </tbody>
        </div>
    </table>
</div>
</body>
</html>