<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form method="post" th:action="@{/persons}">
    <label for="name">
        <span th:text="#{person.name}">Name</span>:
        <input id="name" name="name" required th:value="${person.name()}" type="text">
    </label><br>
    <label for="birthDate">
        <span th:text="#{person.birthDate}">BirthDate</span>:
        <input id="birthDate" min="1800-01-01" name="birthDate" required
               th:value="${person.birthDate()}" type="date">
    </label><br>
    <button type="submit">
        <span th:text="#{add}">Create</span>
    </button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>